# Ansible Configuration
# Specific for this playbook
[ssh_connection]
# Activates pipelining to prevent errors during user change. This requires that
# `requiretty` is disabled on sudo (default in ubuntu).
pipelining=True
[defaults]
# Configures ansible to ask for the vault password upon execution
ask_vault_pass=True